@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  color: #1c1d1e;
}

.fixedCenterY {
  top: 50%;
  transform: translateY(-50%);
}

.fixedCenterX {
  left: 50%;
  transform: translateX(-50%);
}

.fixedCenterXnY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.apple-light {
  font-family: apple-light;
}

@font-face {
  font-family: apple-light;
  src: url(/apple-light.otf);
}

.apple-regular {
  font-family: apple-regular;
}

@font-face {
  font-family: apple-regular;
  src: url(/apple-regular.otf);
}

.apple-medium {
  font-family: apple-medium;
}

@font-face {
  font-family: apple-medium;
  src: url(/apple-medium.otf);
}

.apple-semibold {
  font-family: apple-semibold;
}

@font-face {
  font-family: apple-semibold;
  src: url(/apple-semibold.otf);
}

.apple-semibold-i {
  font-family: apple-semibold-i;
}

@font-face {
  font-family: apple-semibold-i;
  src: url(/apple-semibold-i.otf);
}

.apple-bold {
  font-family: apple-bold;
}

@font-face {
  font-family: apple-bold;
  src: url(/apple-bold.otf);
}

.texto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Navbar ________________________________________________*/

.nav-top-container {
  height: 44px;
  width: 100%;
  background-color: #1c1d1e;
  color: white;
}

.nav-top {
  max-width: 1150px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 1;
}

.nav-option {
  color: #bcbcbc;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.05em;
  &:hover {
    color: #fff;
  }
}

.nav-bottom-container {
  height: 53px;
  color: black;
  width: 100%;
  background-color: #ffffffe0;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.nav-bottom {
  max-width: 1150px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-option2 {
  color: #575757;
  user-select: none;
  font-size: 12px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &:hover {
    color: #0167cc;
  }
}

.buy-btn {
  font-size: 12px;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: #0071e3;
  border-radius: 9999px;
  color: white;
  padding-left: 13px;
  padding-right: 13px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  &:hover {
    background-color: #0058b1;
  }
}

.bar {
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 100ms;
}

/*Hero ________________________________________________*/

.h-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-desktop-container {
  width: 100%;
  padding-top: 97px;
  align-items: center;
}

.h-desktop {
  width: 45%;
  aspect-ratio: 1 / 1;
  margin-top: 25px;
  position: relative;
}

.h-desktop-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  width: 100%;
  position: absolute;
  z-index: 40;
}

.h-title {
  font-size: 17vw;
  letter-spacing: -0.02em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  line-height: 1;
}

.h-image {
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.h-subtitle {
  line-height: 1.25;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.025em;
  text-wrap: balance;
}

.h-subtitle2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  line-height: 1;
}

.play-btn {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  border: 1px solid #1c1d1e;
  line-height: 1;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-mobile {
  padding-top: 55px;
  display: flex;
  justify-content: center;
  overflow-x: clip;
}

/*Video ________________________________________________*/

.pause-btn {
  width: 2.15rem;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  border-width: 2px;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
}

/*Airpods ________________________________________________*/

.a-desktop-image {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1 / 1;
  position: relative;
}

.a-desktop-info {
  line-height: 1.25;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100%;
  font-size: 21px;
  font-family: "apple-semibold";
  color: #86868b;
}

.a-mobile-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1 / 1;
  position: relative;
}

.a-mobile-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "apple-semibold";
  color: #ccc;
  font-size: 18px;
  max-width: 300px;
  width: 100%;
}

.a-bottom-info {
  margin-left: auto;
  margin-right: auto;
  font-family: "apple-semibold";
  color: #86868b;
  width: 100%;
  margin-top: 5rem;
  line-height: 1.25;
}
